#top,
#bottom,
#left,
#right {
  z-index: -1;
  background: #0c0c0c;
  position: fixed;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 10px;
}
#left { left: 0; }
#right { right: 0; }

#top,
#bottom {
  left: 0;
  right: 0;
}

#top {
  top: 0;
  height: 55px;
}

#bottom {
  bottom: 0;
  height: 10px;
}

@media (min-width: 1024px) {
  #left,
  #right {
    width: 55px;
  }

  #top {
    height: 55px;
  }

  #bottom {
    height: 55px;
  }
}
