#box-image {
  height: 50vh;
  background-color: gray; 
}

.description {
  position: absolute;
  padding-top: 50%;
  right: 150px;
}

.filler-bottom {
  height: 50vh;
}

.project-top {
  top: 10%;
}

@media (min-width: 1024px) {
  .project-top {
    padding-top: 20%;
  }
}