#box-image {
  height: 50vh;
  background-color: gray; 
}

.description {
  position: absolute;
  padding-top: 50%;
  left: -50px;
  margin-right: 50px;
  z-index: 2;
}

.filler-bottom {
  height: 50vh;
}

.project-top {
  top: 10%;
}

@media (min-width: 1024px) {
  .project-top {
    padding-top: 20%;
  }
}

.box-image-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(75%);
}